bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
*.DotSettings*
Protobuf/*.bin
Protobuf/*.json
/.vs
/.vs/InnerTube
/.vs/InnerTube/DesignTimeBuild
/.vs/InnerTube/DesignTimeBuild/.dtbcache.v2
/.vs/InnerTube/FileContentIndex
/.vs/InnerTube/FileContentIndex/27b259f6-57e8-4a4b-9b4c-d6165bfe31cb.vsidx
/.vs/InnerTube/FileContentIndex/fbf7cf1f-4560-4e9e-9075-d55efdc8bf37.vsidx
/.vs/InnerTube/v17
/.vs/InnerTube/v17/.futdcache.v2
/.vs/InnerTube/v17/.suo
/.vs/InnerTube/v17/.wsuo
/.vs/InnerTube/v17/DocumentLayout.json
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation/innertube.metadata.v7.bin
/.vs/ProjectEvaluation/innertube.projects.v7.bin
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
